@font-face {
  font-family: CeraRoundPro-Bold;
  src: url(../fonts/TypeMates - CeraRoundPro-Bold.otf);
}

@font-face {
  font-family: CeraRoundPro-Medium;
  src: url(../fonts/TypeMates - CeraRoundPro-Medium.otf);
}

body, .container-fluid {
  background: #f9f9f9 !important;
}

.nav-top {
  padding: .5rem 1rem;
  height: 60px;
  justify-content: space-between;
}

.row {
  padding-right: 5%;
  padding-left: 5%;
}

.top-info a {
  font-family: CeraRoundPro-Medium;
  line-height: normal;
  font-size: 16px;
  word-spacing: 12px;
  color: #3366FF;
}

.top-info a:hover {
  text-decoration: underline;
  color: #3366FF;
}

html {
  scroll-behavior: smooth;
}

p {
  font-family: IBM Plex Mono;
  line-height: normal;
  font-size: 14px;
}

p a {
  color: #3366FF;
}

p a:hover {
  text-decoration: underline;
  color: #3366FF
}

ul a {
  color: #3366FF;
}

ul a:hover {
  text-decoration: underline;
  color: #3366FF;
}

.anchor-links ul {
  list-style-type: none;
  font-family: IBM Plex Mono;
  font-size: 14px;
}

@media (max-width: 576px) {
  nav {
    text-align: center !important;
  }
  .lightgallery {
    text-align: center !important;
  }
  .top-title {
    margin-bottom: 1.5rem;
  }
  .highlight-border {
    border-top: 4px solid;
    border-top-color: #2CB3FF;
    padding-top: 10px;
  }
}

@media (min-width: 576px) and (max-width: 728px) {
  .highlight-border {
    border-top: 4px solid;
    border-top-color: #2CB3FF;
    padding-top: 10px;
  }
}

@media (min-width: 728px) and (max-width: 800px) {
  .highlight-border {
    border-top: 4px solid;
    border-top-color: #2CB3FF;
    padding-top: 10px;
  }
}

@media (min-width: 800px) {
  .highlight-border {
    border-left: 4px solid;
    border-left-color: #2CB3FF;
    padding-left: 10px;
    padding-right: 10px;
  }
  .fixed-left-column {
    position: fixed !important;
    max-width: 20%;
  }
}

.info-quote {
  font-family: IBM Plex Mono;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;
  text-align: center;
}

.info-address {
  font-family: IBM Plex Mono;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  color: #3366FF;
  padding: 80px 0 16px 0;
}

.info-section p {
  margin-bottom: 2rem;
}

.info-section img {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.shockoe-section {
  margin-top: 4.5rem;
}

.shockoe-section h1 {
  font-family: Cera Round Pro;
  font-style: medium;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
  text-transform: uppercase;
}

.header2 {
  margin-top: 2rem;
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
  text-transform: uppercase;
}

.highlights .col-md-4, .col-md-12 {
  padding-right: 0px;
  padding-left: 0px;
}

.highlights .col-md-12 {
  padding-right: 0px;
  padding-left: 0px;
}

.goals-and-points {
  list-style: none;
  font-family: IBM Plex Mono;
  font-size: 14px;
}

.goals-and-points li:before {
  content: "+";
  margin-right: 4px;
}

.yellow-border-top {
  border-top: 4px solid;
  border-top-color: #E9FF5C;
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.call-to-action {
  background: #3366FF;
  color: #FFFFFF;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-top: 90px;
  margin-bottom: 3rem;
}

.call-to-action h1 {
  font-family: CeraRoundPro-Bold;
  font-size: 48px;
}

.call-to-action .subtitle {
  font-size: 24px;
  font-family: IBM Plex Mono;
}

.section-title {
  font-family: CeraRoundPro-Bold;
  font-size: 32px;
  color: #0056FF;
}

.container-fluid {
  margin-top: 90px;
}

footer {
  padding-right: 5%;
  padding-left: 5%;
  /* position: fixed; */
  left: 0;
  bottom: 0;
}

.lightgallery {
  margin: 10px 0 10px 0;
}

.lightgallery img {
  margin: 10px 10px 0 0;
  width: 260px;
  height: 220px;
}

.lightgallery-title {
  /* Application Desktop */
  font-family: IBM Plex Mono;
  line-height: normal;
  font-size: 14px;
  color: #000000;
}